<p style="color: green"><%= notice %></p>

<%= render @order %>

<div>
  <%= link_to "Edit this order", edit_order_path(@order) , class:"btn btn-primary btn-sm" %> |
  <%= link_to "Back to orders", orders_path , class:"btn btn-secondary btn-sm" %>

  <%= button_to "Destroy this order", @order, method: :delete , class:"btn btn-danger" %>
</div>
