
<%= simple_form_for(@course) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title,
                required: true %>
    <%= f.input :classfication,
                required: true, 
                collection: ["Science", "Computer", "History", "Design"] %>
    <%= f.input :language,
                required: true,
                collection: ["English", "French", "Spanish", "Japanese"] %>
    <%= f.input :status,
                required: true, 
                collection: ["Free", "Discounted"] %>
    <%= f.input :price, disabled: true %>
    <%= f.input :instructor,
                required: true %>
    <%= f.input :description,
                required: true %>
    <br/>
    <%= f.file_field :cover,
                required: true %>
    <br/>
    <br/>
  </div>

  <div class="form-actions">
    <%= f.button :submit , class:"btn btn-success" %>
  </div>
<% end %>
