<p style="color: green"><%= notice %></p>

<%= render @course %>

<div>
  <%= link_to "Edit this course", edit_course_path(@course), class:"btn btn-primary btn-sm" %> |
  <%= link_to "Back to courses", courses_path , class:"btn btn-secondary btn-sm" %>
</div>
<br/>
<div>
  <%= button_to "Destroy this course", @course, data: { confirm: "Are you sure?" }, method: :delete , class:"btn btn-danger" %>
</div>
